
 body{
    background-image: url("../../Imagenes/353018.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
  

 }


 .title{
  
    background: linear-gradient(to right, #edc650, #6b5c1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
  
    font-size: 8rem;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: -100px;
   
 }
 .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 700px;
    margin-right: 700px;
    width: auto;
    height: auto;
    border-radius: 20%;
   
    background: transparent;
    backdrop-filter: blur(1px);


     --glow-color: rgb(224, 207, 157);
    --glow-spread-color: rgba(255, 218, 123, 0.781);
    --enhanced-glow-color: rgb(255, 238, 206);
    --btn-color: rgb(136, 123, 61);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
   
    font-weight: bold;
   
   
   
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em .3em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);

    
 }

  /**************************************************************+*/

  .form__submit {
    --glow-color: rgb(255, 235, 176);
    --glow-spread-color: rgba(255, 218, 123, 0.781);
    --enhanced-glow-color: rgb(255, 238, 206);
    --btn-color: rgb(136, 123, 61);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 29px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 0.5em .25em var(--glow-color),
           0 0 4em .5em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin-top: 100px;
    width: 400px;
    height: 100px;
    font-family: inherit;
    
   }
   
   .form__submit::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .form__submit:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .form__submit:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }