
*{
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}
.AllContainer{
   
    width: 90vw;
    height: 100%;
    margin: 5%;
    padding: 3%;
    background-color: rgb(189, 161, 127); 
    
    border-radius: 15%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5); 
    border: 5px solid black;


    display: flex;
}

.card{
     border: 5px solid black;

    background-color: rgb(162, 124, 78);
    border-radius: 20%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    height: 75vh;
    margin: 2%;



    display: flex;
    


    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 50%;
    overflow: hidden;
    transition: all 0.5s ease-in-out; 



   
}

.Actividad{

    border-radius: 15%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
   
    border: 5px solid black;

    height: 20vh;

    width: 50vh;
    height: 20vh;

    align-items: center;
    justify-content: center;
    


   
   
}