

.tituloPrincipal{
    
    text-align: center;
    font-size: 50px;
}

.datosPersonales{
   
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



.container{
    
    border: 5px solid black;

   background-color: rgb(162, 124, 78);
    background-image: linear-gradient(120deg, rgb(162,  124, 78) 0%, rgb(132, 76, 48) 100%);
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
   /*background-image: url(../../Imagenes/Compass\ Rose\ Artwork\ 11\ X\ 14\ Old\ Maps\ Treasure\ Maps\ -\ Etsy.jpg);*/
   
    
    display: flex;  ;
    
    border-radius: 20%;
    margin: 2%;
    padding: 10px;
    width: 90%;
    height: 80%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    font-size: 25px;

}

.imagen{
    border-radius: 100%;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
    height: 100%;
    
   
}


.contact {
   

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    position: relative;
    z-index: 10;
  }
  .contact__link {
   
    width: 35%;
    height: 35%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact__icon {
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
  }

  .contact__link:hover .contact__icon {
    transform: scale(1.2);


  }



   
  