


.container{
  
  border: 5px solid black;

   background-color: rgb(162, 124, 78);
   background-image: linear-gradient(120deg, rgb(162,  124, 78) 0%, rgb(132, 76, 48) 100%);
   background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
   background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
   /*background-image: url(../../Imagenes/Compass\ Rose\ Artwork\ 11\ X\ 14\ Old\ Maps\ Treasure\ Maps\ -\ Etsy.jpg);*/
   
   border-radius: 20%;
   
   
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
   font-size: 25px;
   
   height:100vh;
  
    padding: 3em 1em;
    margin-top: 50px;;
    margin-left:150px;
    margin-right: 300px;
    margin-bottom: 10px;
   
    
  }
  
  .tituloPrincipal{
    
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-bottom:10px;
  }


  .datosPersonales{
    
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-bottom:10px;
    display: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .imagen{
    border-radius: 100%;
    width: 50%;
   
    justify-content: right;
    align-items: right;
    margin-left: 550px;
    
   
}


.contact {
   
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    position: relative;
   
  }
  .contact__link {
   
    width: 15%;
 
    border-radius: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .contact__icon {
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
  }

  .contact__link:hover .contact__icon {
    transform: scale(1.2);


  }



   
  