


.container{
  
  border: 5px solid black;

   background-image: linear-gradient(to top, #796833 0%, #958b36 30%, #8a861f 46%, #9f8622 59%, #474227 71%, #222219 86%, #432c39 100%);
   
   
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
   font-size: 25px;
   
   height:100vh;
   
   padding: -1em 1em;
   margin-top: 50px;;
   margin-left:150px;
   margin-right: 300px;
   margin-bottom: 10px;
   
   border-radius: 20%;
   
  }
  
  .tituloPrincipal{
    
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-bottom:10px;
  }


  .datosPersonales{
    
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-bottom:10px;
    display: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nombre{
    
    font-size: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-bottom:10px;
    display: column;
    align-items: flex-start;
    justify-content: flex-start;

    color: rgb(201, 201, 190);
   
    background: transparent;
    backdrop-filter: blur(2px);
   

  }
  
  .imagen{
    
    justify-content: right;
    align-items: right;
   
    
    border-radius: 50%;
    width: 30%;
    height: 20%;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
   
}


.contact {
   
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    position: relative;
   
  }
  .contact__link {
   
    width: 15%;
 
    border-radius: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .contact__icon {
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
  }

  .contact__link:hover .contact__icon {
    transform: scale(1.2);


  }



   
  