


.mainContainer{

    background-image: linear-gradient(to top, #834d18 0%, #483318 100%);
    color: white;

    opacity: 0.9;

    display: flex;
    flex-flow: row wrap;
    
    justify-content: space-around;
    align-items: center;
    
    border-radius: 15%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5); 
    border: 5px solid rgb(74, 69, 42);
    
    margin-left: 100px;
    margin-right: 100px;
    height: 110px;
    border-radius: 50px;

   
}

/****************BOTONES ************************************/

.form__submit{
    
    color: white;
    font-family: inherit;
    
    font-size: 1.1rem;
    padding: 1em 1.5em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: all 0.3s ease;

    font-weight: 500;   
    
}

.icon{
    font-size: 1.5rem;
    margin-right: 0.5em;
}

.contact__icon {
    width: 50px;
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
  }

.contact__icon:hover {
        transform: scale(1.2);
        cursor: pointer;
     }


/***************** Ventana de dialogo ************************/

.contenedor_imagen {
    position: relative;
    display: inline-block;
 }

 .texto_imagen {
    display: none;
    position: absolute;
  
    background-image: linear-gradient(to top, #834d18 0%, #483318 100%);
    border: 5px solid rgb(74, 69, 42);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5); 
    color: #fff;
    text-align: center;
   
    font-size: 24px;
    margin : 10px;
    padding: 10px;
    width: 300px;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;
    border-radius: 10px;
   
 }
 
 .contenedor_imagen:hover .texto_imagen {
    display: block;
    transform: translateY(5px);
    transition: all 1s ease-in-out;
 }


