




/******** BOTONES ********/

.form__submit{

    
    background-image: linear-gradient(to top, #834d18 0%, #483318 100%);
   color: white;
   font-family: inherit;
   font-size: 1.9rem;
   padding: 1em 1.5em;
   border: none;
   border-radius: 1em;
   cursor: pointer;
   transition: all 0.3s ease;
   font-weight: 500;
    margin: 5px;
   
   }
   
   .form__submit:hover{
       background-color: #4a3501;
       transition: all 0.3s ease;
       transform: scaleX(1.1) scaleY(1.1) ;
       
   
   }

   .form__submit:active {

    --glow-color: rgb(168, 119, 5);
    --glow-spread-color: rgba(254, 175, 17, 0.781);
    --enhanced-glow-color: rgb(85, 55, 7);
   /* --btn-color: rgb(65, 136, 61);*/

    box-shadow: 0 0 0.6em .25em var(--glow-color),
                0 0 2.5em 2em var(--glow-spread-color),
                inset 0 0 .2em .25em var(--glow-color)
  }


  /********************************* BARRA DE FILTROS ************************************/

  
  .form__search{

    
    background-image: linear-gradient(to top, #834d18 0%, #483318 100%);
   color: rgb(155, 134, 134);
   font-family: inherit;
   font-size: 1.9rem;
   padding: 0.5em;
   border: none;
   border-radius: 1em;
   cursor: pointer;
   transition: all 0.3s ease;
   font-weight: 500;
    margin: 30px;
    width: auto;
    height: 80px;
    
    text-align: center;
    justify-content: center;
   
   }
   
   .form__search:hover{
       background-color: #4a3501;
       transition: all 0.3s ease;
       transform: scaleX(1.1) scaleY(1.1) ;
       
   
   }

   .form__search:active {

    --glow-color: rgb(168, 119, 5);
    --glow-spread-color: rgba(254, 175, 17, 0.781);
    --enhanced-glow-color: rgb(85, 55, 7);
   /* --btn-color: rgb(65, 136, 61);*/

    box-shadow: 0 0 0.6em .25em var(--glow-color),
                0 0 2.5em 2em var(--glow-spread-color),
                inset 0 0 .2em .25em var(--glow-color)
  }
